<div class="layout">
  <div class="formContainer">
    <div class="header">
      <h1>Contact me</h1>
      <h2>We are always happy to find out what's on your mind.</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="inputContainer">
        <label>Name</label>
        <input
          type="text"
          formControlName="name"
          [class.invalid]="
            form.get('name')?.invalid &&
            (form.get('name')?.dirty || form.get('name')?.touched)
          "
        />
        <span *ngIf="form.get('name')?.hasError('required')">{{
          errorMessages.name.required
        }}</span>
        <span *ngIf="form.get('name')?.hasError('pattern')">{{
          errorMessages.name.pattern
        }}</span>
      </div>
      <div class="inputContainer">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          [class.invalid]="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
        />
        <span *ngIf="form.get('email')?.hasError('required')">{{
          errorMessages.email.required
        }}</span>
        <span *ngIf="form.get('email')?.hasError('email')">{{
          errorMessages.email.pattern
        }}</span>
      </div>
      <div class="inputContainer">
        <label>Message content</label>
        <textarea
          type="text"
          formControlName="message"
          [class.invalid]="
            form.get('message')?.invalid &&
            (form.get('message')?.dirty || form.get('message')?.touched)
          "
        ></textarea>
        <span *ngIf="form.get('message')?.hasError('required')">{{
          errorMessages.message.required
        }}</span>
        <span *ngIf="form.get('message')?.hasError('maxlength')">{{
          errorMessages.message.maxLength
        }}</span>
      </div>
      <button
        type="submit"
        class="submitButton"
        [disabled]="!form.valid"
        [class.loading]="loading"
      >
        Send
        <div *ngIf="loading" class="loader"></div>
      </button>
    </form>
  </div>
</div>
